{% include "header.html" %}

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Create Business Calendars easily.</h1>
          <h2>Just upload the holiday list and you are good to go!!</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{{ url_for('get_info') }}" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/bg1.jpg" class="img-fluid animated rounded" alt="" border="0">
        </div>
      </div>
    </div>

  </section>



{% include "footer.html" %}
